<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162417247269-mtqtokfu0ilkligbefouoc8v7laahg9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162417247269-mtqtokfu0ilkligbefouoc8v7laahg9a</string>
	<key>API_KEY</key>
	<string>AIzaSyCu48B2suAoYjXN7h-bWS6DCFDEe5wwEso</string>
	<key>GCM_SENDER_ID</key>
	<string>162417247269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rachelsaunders.GAM750-FINALMAJORPROJECT</string>
	<key>PROJECT_ID</key>
	<string>gam750-finalmajorproject</string>
	<key>STORAGE_BUCKET</key>
	<string>gam750-finalmajorproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162417247269:ios:c651fd63f18b0155d76bcc</string>
</dict>
</plist>